*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html {
  padding: env(safe-area-inset);
}

html,
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scroll-behavior: smooth;
  margin: 0 auto !important;
}

body {
  margin: 0 auto;
  padding: 0px;
  -webkit-outline: none;
  outline: none;
  position: relative;
  min-width: 320px;
  max-height: 1000000px;
  min-height: 100vh;
  text-decoration-skip: objects;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

:focus,
:active,
:hover,
:link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  -webkit-focus-ring-color: rgba(0, 0, 0, 0) !important;
  -webkit-outline: none;
  outline: none;
}

ul,
ol {
  list-style-position: inside;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

li {
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

iframe {
  display: block;
  border: none;
}

img {
  display: block;
  border: none;
  max-width: 100%;
}

textarea {
  white-space: pre-wrap;
  resize: none;
}

button,
select {
  display: block;
  padding: 0;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  font-family: inherit;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-transform: none;
}

button {
  width: auto;
  cursor: pointer;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border: none;
  padding: 0;
}

[type=search],
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  -webkit-outline: none;
  outline: none;
}

[type=search]::-webkit-search-decoration,
::-webkit-file-upload-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

[hidden],
::-ms-clear,
area {
  display: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  display: block;
  padding: 0;
}

menu,
dir {
  list-style: none;
  margin: 0;
  padding: 0;
}

::-webkit-input-placeholder {
  color: inherit;
}

:-ms-input-placeholder {
  color: inherit;
}

::-moz-input-placeholder {
  color: inherit;
}

::-moz-placeholder {
  color: inherit;
}

:-moz-placeholder {
  color: inherit;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
  -webkit-outline: none;
  outline: none;
  text-decoration-skip-ink: none;
}

[type=date]::-webkit-inner-spin-button {
  display: none;
}

[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

body {
  font-family: "Montserrat";
  background-color: rgb(255, 255, 255);
  color: rgb(62, 84, 106);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.02em;
}
body.hidden {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

label,
textarea,
input {
  -webkit-appearance: none;
  font-family: "Montserrat";
  border-radius: 0;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 100%;
}

.logo {
  position: relative;
  transition: opacity 0.3s;
  width: 165px;
  height: 41px;
  position: relative;
  z-index: 1;
}
.logo > a {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
  overflow: hidden;
  text-indent: 200%;
  white-space: nowrap;
}
.logo:hover {
  opacity: 0.75;
}
.logo picture {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.logo img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  margin-top: 32px;
  overflow: hidden;
}

.input-item {
  position: relative;
  border: solid 1px transparent;
}
.input-item.error {
  border-color: rgb(255, 70, 55);
}
.input-item input, .input-item textarea {
  border: 0;
  background: transparent;
  width: 100%;
  height: 44px;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.02em;
  color: rgb(62, 84, 106);
  border-radius: 0;
  padding: 0;
}
.input-item input::placeholder, .input-item textarea::placeholder {
  opacity: 1;
  text-transform: none;
  color: rgba(62, 84, 106, 0.5);
}
.input-item label {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #80726a;
  display: block;
}
.input-item textarea {
  height: 100px;
  display: block;
}
.input-item input {
  height: 26px;
}
.input-item input + input {
  margin-top: 24px;
}
.input-item .icon {
  position: absolute;
  bottom: 9px;
  right: 1px;
}
.input-item .icon svg {
  color: rgb(62, 84, 106);
  fill: rgb(62, 84, 106);
}

.check-block {
  display: flex;
  align-items: center;
  min-height: 24px;
}
.check-block input {
  display: none;
}
.check-block input:checked + label {
  color: rgb(62, 84, 106);
}
.check-block input:checked + label::before {
  opacity: 1;
}
.check-block input:disabled + label {
  opacity: 0.33;
  pointer-events: none;
}
.check-block label {
  cursor: pointer;
  padding-left: 38px;
  position: relative;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(62, 84, 106, 0.5);
  display: block;
  text-align: left;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  width: 100%;
}
.check-block label:hover {
  color: rgb(62, 84, 106);
}
.check-block label::before {
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  left: 5px;
  top: 50%;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
  border-radius: 4px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/svg/check.svg");
  opacity: 0;
}
.check-block label::after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  top: 50%;
  left: 5px;
  top: 50%;
  width: 24px;
  height: 24px;
  border: solid 1px rgb(245, 140, 31);
  transform: translateY(-50%);
  border-radius: 4px;
  overflow: hidden;
}
.check-block a {
  text-decoration: underline;
  -webkit-transition: text-decoration 0.3s;
  -moz-transition: text-decoration 0.3s;
  -o-transition: text-decoration 0.3s;
  transition: text-decoration 0.3s;
}
.check-block a:hover {
  text-decoration-color: transparent;
}

.selectric {
  border: 0;
  background: transparent;
  width: 100%;
  height: 26px;
  border-radius: 0;
}
.selectric .label {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  height: 100%;
  padding: 0;
  margin: 0;
  color: rgb(50, 63, 79);
}
.selectric .button {
  width: 16px;
  height: 53px;
  background: transparent;
  display: flex;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M16.0005 1.50043L8.00049 9.50043L0.000488281 1.50043L1.41449 0.0864258L8.00049 6.67243L14.5865 0.0864258L16.0005 1.50043Z' fill='%23F58C1F'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.3s;
  top: -23px;
  right: 10px;
}
.selectric .button::after {
  display: none;
}

.selectric-wrapper {
  border: 0;
  outline: none;
}
.selectric-wrapper.selectric-hover .selectric {
  border-color: rgb(62, 84, 106);
}
.selectric-wrapper.selectric-open .selectric {
  border-color: rgb(62, 84, 106);
}
.selectric-wrapper.selectric-open .selectric .button {
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}
.selectric-wrapper.selectric-above .selectric-items {
  border: solid 1px rgb(62, 84, 106);
}
.selectric-items {
  background: transparent;
  background-color: rgb(255, 255, 255);
  border: 0;
  overflow: hidden;
  border-radius: 8px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  z-index: -1;
  min-height: 330px;
  min-width: 140px;
  right: -10px;
  left: auto;
  top: calc(100% + 10px);
  width: calc(100% + 20px) !important;
}

.selectric-scroll {
  border: 0;
  scrollbar-color: rgb(245, 140, 31) transparent;
  scrollbar-width: thin;
}
.selectric-scroll ul {
  padding: 4px;
}
.selectric-scroll ul li {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgb(62, 84, 106);
  padding: 6px 8px;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.selectric-scroll ul li.disabled {
  display: none;
}
.selectric-scroll ul li.highlighted, .selectric-scroll ul li.selected {
  color: rgb(255, 255, 255);
  background-color: rgb(245, 140, 31);
}
.selectric-scroll ul li:hover {
  background-color: rgb(245, 140, 31);
  color: #fff;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 1;
  cursor: pointer;
  pointer-events: initial;
}

.modal {
  font-family: "Montserrat";
  display: none;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  color: #292929;
}

.modal.is-open {
  display: flex;
  z-index: 15;
  position: fixed;
}

.modal__container {
  overflow: visible;
  background: transparent;
  padding: 0;
  margin: auto;
  width: 100%;
  max-width: 100%;
  padding: 50px 0;
}

.modal__content {
  padding: 0;
  margin: 0;
}
.modal__content .link {
  font-size: 14px;
  line-height: 25px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-decoration-line: underline;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #4c535b;
}
.modal__content .link:hover {
  text-decoration-color: transparent;
}

.modal__close {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  right: -70px;
  top: 40px;
  display: flex;
  z-index: 10;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #292929;
  align-items: center;
  gap: 11px;
}
.modal__close svg {
  pointer-events: none;
}
.modal__close:hover {
  opacity: 0.75;
}

.modal__content .scroll::-webkit-scrollbar {
  width: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  margin-right: 12px;
}
.modal__content .scroll::-webkit-scrollbar-track {
  background: #d9d9d9;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
.modal__content .scroll::-webkit-scrollbar-thumb {
  background: rgb(62, 84, 106);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

.modal__inner {
  margin: 0 auto;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 0;
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: inherit;
}

.selectric-open {
  z-index: 4;
}

input[type=number],
input[type=number]:hover,
input[type=number]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

video::-webkit-media-controls {
  opacity: 0;
  pointer-events: none;
}
video.opened::-webkit-media-controls {
  opacity: 1;
  pointer-events: initial;
}

picture {
  position: relative;
  display: block;
}
picture img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

::-webkit-scrollbar {
  width: 4px;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: #e5e5e5;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgb(245, 140, 31);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e5e5e5;
  border-radius: 8px;
}

.burger {
  display: none;
  position: relative;
  font-size: 16px;
  line-height: 26px;
  height: 20px;
  padding-right: 49px;
  align-items: center;
  right: 6px;
}
.burger-line {
  position: relative;
  display: block;
  width: 100%;
  height: 1.5px;
  background-color: rgb(62, 84, 106);
  transition: all 0.3s;
  pointer-events: none;
  border-radius: 10px;
  overflow: hidden;
}
.burger::before {
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  right: 0;
  top: 50%;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='30' height='24' viewBox='0 0 30 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.66748 2H28.3341M1.66748 12H28.3341M1.66748 22H28.3341' stroke='%233E546A' stroke-width='2.5' stroke-linecap='square' stroke-linejoin='round'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  width: 28px;
  height: 23px;
  transform: translateY(-50%);
}
.burger::after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  right: 0;
  top: 50%;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='29' height='31' viewBox='0 0 29 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.125 25.875L9 15.25L9 1.49974M14 29L14 1.49974M27.125 25.875L19 15.25L19 1.49974' stroke='%233E546A' stroke-width='2.5' stroke-linecap='square' stroke-linejoin='round'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  width: 27px;
  height: 25px;
  transform: translateY(-50%);
  background-size: contain;
  opacity: 0;
}
.burger.opened::before {
  opacity: 0;
}
.burger.opened::after {
  opacity: 1;
}

.btn-up {
  cursor: pointer;
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='42' viewBox='0 0 32 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M16 41V1M16 1L1 16M16 1L31 16' stroke='%2335291E' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  background-color: #fff;
  z-index: 10;
}
.btn-up.visible {
  opacity: 1;
  pointer-events: initial;
}

@media (min-width: 1200px) {
  body.modal-open {
    overflow: hidden;
    padding-right: 17px;
  }
  _:-webkit-any-link,
  :root body.modal-open {
    padding-right: 17px;
  }
  _:-webkit-any-link .header,
  :root body.modal-open .header {
    width: calc(100% - 17px);
  }
  _:-webkit-any-link,
  :root body.hidden {
    padding-right: 17px;
  }
  _:-webkit-any-link .header,
  :root body.hidden .header {
    width: calc(100% - 17px);
  }
  _:-webkit-any-link,
  :root body.compensate-for-scrollbar {
    padding-right: 17px;
  }
  _:-webkit-any-link .header,
  :root body.compensate-for-scrollbar .header {
    width: calc(100% - 17px);
  }
}
.btn {
  -webkit-appearance: none;
  border-radius: 8px;
  position: relative;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -0.01em;
  text-align: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 24px 32px;
  border: 1px solid rgb(245, 140, 31);
  background-color: rgb(245, 140, 31);
  display: inline-block;
  transition: all 0.3s;
}
.btn svg {
  -webkit-transition: fill 0.3s;
  -moz-transition: fill 0.3s;
  -o-transition: fill 0.3s;
  transition: fill 0.3s;
}
.btn svg path {
  fill: rgb(62, 84, 106);
  -webkit-transition: fill 0.3s;
  -moz-transition: fill 0.3s;
  -o-transition: fill 0.3s;
  transition: fill 0.3s;
}
.btn--gray {
  background-color: rgb(208, 212, 217);
  border-color: rgb(208, 212, 217);
  color: rgb(50, 63, 79);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.btn:hover {
  border-color: rgb(208, 212, 217);
  background-color: rgb(208, 212, 217);
  color: rgb(50, 63, 79);
}
.btn:hover svg path {
  fill: rgb(255, 255, 255);
}
.btn .count {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.02em;
  width: 28px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(62, 84, 106, 0.2);
  border-radius: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.caption {
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: 600;
}

h1,
.caption--h1 {
  font-size: 60px;
  line-height: 70px;
}

h2,
.caption--h2 {
  font-size: 40px;
  line-height: 44px;
}

h3,
.caption--h3 {
  font-size: 24px;
  line-height: 28px;
}

.caption-h1--small {
  font-size: 75px;
  line-height: 80px;
}

.grettings {
  position: relative;
  width: 100%;
  min-height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}

.slider-grettings {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: block;
  overflow: hidden;
}
.slider-grettings .swiper-wrapper {
  width: 100%;
  height: 100%;
  max-width: 100%;
}
.slider-grettings .swiper-slide {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
}
.slider-grettings .picture {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.slider-grettings .picture img {
  object-fit: cover;
}

.grettings-content {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 50%;
  height: 100%;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.grettings-content::before {
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
  height: 300%;
  left: -190px;
  top: -110%;
  transform: rotate(45deg);
  z-index: -1;
  background-color: #000;
  opacity: 0.7;
  filter: blur(5px);
  border-radius: 50px;
}
.grettings-content__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding: 50px;
  width: 100%;
}
.grettings-content .btn {
  width: auto;
  padding: 5px 30px;
  font-size: 13px;
  height: auto;
  margin-top: 10px;
}
.grettings-content .btn + .btn {
  margin-top: 0;
}

.why-block {
  padding: 50px 0;
  position: relative;
  z-index: 10;
}
.why-block .caption {
  color: rgb(62, 84, 106);
}

.why-block__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 30px 0;
}

.why-block__item {
  position: relative;
  position: relative;
  z-index: 1;
  height: auto;
  padding-top: 100%;
  transition: all 0.3s;
}
.why-block__item > a {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
  overflow: hidden;
  text-indent: 200%;
  white-space: nowrap;
}
.why-block__item:hover {
  transform: scale(1.03);
}
.why-block__item .name {
  position: absolute;
  background-color: #000;
  color: #fff;
  z-index: 5;
  top: 20px;
  right: 0;
  width: auto;
  display: table;
  padding: 5px 30px;
}
.why-block__item .picture {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.why-block__item .picture img {
  object-fit: cover;
}

@media (min-width: 1200px) {
  .menu {
    display: flex !important;
    height: auto !important;
  }
}
@media (max-width: 1199px) {
  .grettings-content {
    max-width: 100%;
  }
  .why-block__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 639px) {
  .why-block__list {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 15px 0;
  }
  .why-block__item {
    height: auto;
    padding-top: 87.5%;
  }
  .grettings-content__inner {
    padding: 15px;
  }
  h1,
  .caption--h1 {
    font-size: 30px;
    line-height: 40px;
  }
  h2,
  .caption--h2 {
    font-size: 20px;
    line-height: 30px;
  }
  .container {
    padding: 0 10px;
  }
  .why-block {
    padding: 30px 0;
  }
}

/*# sourceMappingURL=style.css.map */
