h1,
h2,
h3,
h4,
h5,
h6,
.caption {
  font-family: $fontMain;
  color: $colorWhite;
  font-weight: 600;
}

h1,
.caption--h1 {
  font-size: 60px;
  line-height: 70px;
}

h2,
.caption--h2 {
  font-size: 40px;
  line-height: 44px;
}

h3,
.caption--h3 {
  font-size: 24px;
  line-height: 28px;
}

.caption-h1--small {
  font-size: 75px;
  line-height: 80px;
}
