.grettings {
  position: relative;
  width: 100%;
  min-height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}

.slider-grettings {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: block;
  overflow: hidden;

  .swiper-wrapper {
    width: 100%;
    height: 100%;
    max-width: 100%;
  }

  .swiper-slide {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
  }

  .picture {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    img {
      object-fit: cover;
    }
  }
}

.grettings-content {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 50%;
  height: 100%;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include before {
    width: 100%;
    height: 300%;
    left: -190px;
    top: -110%;
    transform: rotate(45deg);
    z-index: -1;
    background-color: #000;
    opacity: 0.7;
    filter: blur(5px);
    border-radius: 50px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 50px;
    width: 100%;
  }

  .btn {
    width: auto;
    padding: 5px 30px;
    font-size: 13px;
    height: auto;
    margin-top: 10px;

    & + .btn {
      margin-top: 0;
    }
  }

  &__contact {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 0;

    a {
      text-decoration: underline;
      transition: text-decoration 0.3s;
      text-underline-offset: 3px;

      &:hover {
        text-decoration-color: transparent;
      }
    }
  }
}

.why-block {
  padding: 50px 0;
  position: relative;
  z-index: 10;

  .caption {
    color: $colorBlack;
  }
}

.why-block__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 30px 0;
}

.why-block__item {
  position: relative;
  @include invisLink;
  height: auto;
  padding-top: calc(630 / 630 * 100%);
  transition: all 0.3s;

  &:hover {
    transform: scale(1.03);
  }

  .name {
    position: absolute;
    background-color: #000;
    color: #fff;
    z-index: 5;
    top: 20px;
    right: 0;
    width: auto;
    display: table;
    padding: 5px 30px;
  }

  .picture {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    img {
      object-fit: cover;
    }
  }
}
